<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.message %>
</p>

<p>
  <%= button_to "Destroy this comment", [comment.post, comment], method: :delete%>
</p>